html {
	font-family:"verdana, arial, sans-serif";
}
h1 {
	color:#ee3e80;
}
h3 {
	color:#665544;
	border: 1px solid black;
	padding:5px;

}
#heading_two + p {
	font-weight:bold;
}
p {
	font-size:13px;
}
#paragraph_list {
	color:red;
}