body { font-family: verdana, arial, sans-serif; }
h1 { color: #ee3e80; }
h3 { color: #665544; border: 1px solid black; padding: 5px;}
h3#heading_two { color: black; }
h3#heading_two+p { font-weight: bold; }
p { font-size: 13px; }
#lorem_ipsum { font-weight: bold; color: red; text-decoration: underline; }
#paragraph_list ul > li { color: red; }