!!!
%table
	%thead
		%th {:colspan => 5} Arcade Prizes
	%tr 
		%th
		%th Sticky Hand
		%th Cap Gun
		%th Paper Watch
		%th Bouncy Ball
	%tr
		%th Price (Tickets)
		%td 125
		%td 300
		%td 40
		%td 75
	%tr
		%th Lifespan (Hours)
		%td 48
		%td 15
		%td 0.5
		%td 999