div#container	{ text-align: center; border: 10px solid Black; background-color: Red; padding: 20px; }
div#content		{ text-align: center; margin: 20 0 20 0; padding: 5px; border: 5px dotted White; color: White; background-color: Blue; }
