div#bigredbox {
  margin:auto;
  padding:20px;
  background:red;
  border:10px solid black;
}

div#bluebox {
  padding:5px;
  color:white;
  margin:20 auto;
  border:5px dotted white;
  background:blue;
}