input[type=text], input[type=email] {
  border-radius: 15px;
  background-color: #CC213D;
  margin: 10px;
  font-size: 120%;

}

input.button:hover {
  cursor: pointer;
}
#comments:focus, #comments:hover {
  background-color: black;
  color: white;
}
#comments {
  background-color: white;
  color: black;
}


fieldset {
  width: 350px;
  border: 5px solid #CC212C;
  
}

legend {
  background-color: cyan;
}
