body {
  width: 90%;
  margin: 0 auto;
  font-family: helvetica, arial, sans-serif;
  color: #ff0099;
  background-color: #00ccff;
}

#header h1 {
  display: inline-block;
  font-size: 5em;
  line-height: .1;
  margin: 0 auto;
}
#content {
  overflow: auto;
  height: 100%;
}  

#nav, 
#feature, 
#footer {
  background-color: #99ccff;
  padding: 1%;
  margin: 1%;
}
.column1, 
.column2, 
.column3 {
  background-color: #99ccff;
  width: 28.5%;
  float: left;
  margin: 1%; 
  padding: 10px;
}
.column3 { margin-right:0%;}

li {
  display: inline;
  padding: 5px;
}

ul {
  padding: 0;
}

ul a {
  text-decoration: none;
}