* {
  font-family: verdana, arial, sans-serif;
}

p {
  font-size: 13px;
}

h1 {
  color: #ee3e80;
}

h3 {
  padding: 5px;
  border: 1px solid black;
  color: #665544;
}

#heading_two {
  color: #000;
}

#heading_two + p {
  font-weight: bold;
}

